# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# macOS / Windows
.DS_Store
Thumbs.db

# Node.js
node_modules/

# Temporary or large files
outputs/
checkpoints/